<!DOCTYPE html>
<html lang="en">
  <%- include('parts/header.ejs') %>
  <body>
    <%- include('parts/navbar.ejs') %>
    <br />
    <div class="container">
      <div class="alert alert-danger">You aren't admin</div>
    </div>
    <%- include('parts/footer.ejs') %>
  </body>
</html>
