<footer>
  Created by <a href="mailto:wassimrached404@gmail.com">wassim rached</a>, all
  rights reserved &copy;
</footer>
<!-- <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script> -->
<script src="/js/bootstrap.min.js"></script>
